html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #0e0e0e;
  height: 100vh;
}

nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  padding: 30px 45px 0 45px;
  color: #ffffff;
}

nav h1 {
  font-size: 42px;
  letter-spacing: -1px;
}

nav a {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -18px auto 0 auto;
  width: 100%;
  max-width: 500px;
}

.search-input {
  background-color: #2e2e2f;
  flex: 1;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 6px 0 0 6px;
  outline: none;
}

.search-input:focus {
  border-color: #3d3d3d;
}

.search-btn {
  padding: 10px 35px;
  background-color: #4b4b4b;
  color: #ffffff;
  font-size: 14px;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: #3d3d3d;
}

.movie-slot {
  color: #ffffff;
  padding: 30px 40px;
  display: flex;
}

#movie-details {
  margin-left: 20px;
}

.movie-slot img {
  width: 100px;
}

.movie-slot h2 {
  font-size: 18px;
  font-weight: 400;
}

.movie-slot span {
  font-size: 12px;
}

.add-btn {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 7px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.add-btn:active {
  transform: scale(0.95);
}

.add-btn img {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.movie-slot p {
  color: #a5a5a5;
  font-size: 14px;
}
